@font-face {
  font-family: 'Xsphere';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Xsphere'),
    url(~assets/fonts/xsphere-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Xsphere';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: local('Xsphere'),
    url(~assets/fonts/xsphere-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Xsphere';
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: local('Xsphere'), url(~assets/fonts/xsphere-bold.ttf) format('truetype');
}

html {
  font-family: 'Xsphere';
}

body {
  background-color: #fbfbfd;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.product-single {
  height: calc(100vh - 2.5rem);
}
